@font-face {
    font-family: Rajdhani;
    src: url(fonts/Rajdhani-Light.ttf);
}
@font-face {
    font-family: Rajdhani-med;
    src: url(fonts/Rajdhani-Medium.ttf);
}
html{
    font-family: "Rajdhani";
}
body{
    box-sizing: border-box;
    margin: none;
    padding: none;
    background: rgb(69,70,69);
background: linear-gradient(90deg, rgba(69,70,69,1) 45%, rgba(209,214,217,1) 45%);
}
.text-box{
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 22%;
    left: 6%;
    letter-spacing: 3px;
}
.fbot{
    padding-bottom: 10px;
    border-bottom: 3px solid gray;
}
h2 > span{
    font-size: 35px;
}
.container{
    display: inline-block;
    position: absolute;
    right: 90px;
    top: 60px;
}
.container .main{
    background-color: rgb(244, 242, 242);
    border-radius: 5px;
    width: 320px;
    height: 200px;
    margin: 30px;
    z-index: 1;
    box-shadow: 5px 5px 5px gray;
    position: relative;
    overflow: hidden;
}
.assign1, .assign2, .assign3, .assign4{
    font-family: "Rajdhani-med";
    font-size: 2.3em;
    display: inline-block;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 23px;
    cursor: pointer;
    transition: transform 2s;
}
.assign1{
    background: rgb(18,102,8);
    background: linear-gradient(90deg, rgba(18,102,8,1) 50%, rgba(232,232,232,1) 50%);
}
.assign2{
    background: rgb(41,43,40);
    background: linear-gradient(90deg, rgba(41,43,40,0.9108018207282913) 50%, rgba(232,232,232,1) 50%);
}
.assign3{
    background: rgb(231,200,112);
    background: linear-gradient(90deg, rgba(231,200,112,1) 50%, rgba(232,232,232,1) 50%);
}
.assign4{
    background: rgb(44,95,212);
    background: linear-gradient(90deg, rgba(44,95,212,1) 50%, rgba(232,232,232,1) 50%);
}
.title{
    /* font-size: 2.3em; */
    padding-left: 70px;
    color: rgb(232, 232, 232);
}
.assign1 span{
    color: rgb(18,102,8);    
}
.assign2 span{
    color: rgb(41,43,40);
}
.assign3 span{
    color: rgb(231,200,112);
}
.assign4 span{
    color: rgb(44,95,212);
}
.assign1:hover, .assign2:hover, .assign3:hover, .assign4:hover{
    transform: scale(1.5, 1.5);
}
